body{
    border: cornflowerblue double 10px;
    padding: 50px;
    
}
h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: cornflowerblue;
    font-size: 40px;
   
}

.options {
    display: flex;
    justify-content: space-between;
    padding: 150px;
}

img {
    width: 250px;
    height: 250px;
   
}

#rock {
height: 250px;
width: 250px;
}

#paper {
    height: 250px;
    width: 250px;  
    }

#scissors {
        height: 250px;
        width: 250px;
        }

#rock :hover {
    border: 5px dashed gold;
}

#paper :hover {
    border: 5px dashed gold;
}

#scissors :hover{
    border: 5px dashed gold;
}